@model IEnumerable<ClienteWeb.MaterialAceroGH.AceroGHerramienta>

@{
    ViewBag.Title = "Consultar";
}


<center><h2>Lista de Materiales</h2></center>
<p>
    @Html.ActionLink("Agregar Material", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
    id_acerogh
</th>
        <th>
            Acabado
        </th>
        <th>
           Calidad
        </th>
        <th>
            Cantidad
        </th>
        <th>
           Medidas
        </th>
        <th>
           Perfil
        </th>
        <th>
            Tipo
        </th>
       
        <th></th>
    </tr>

@foreach (var item in ViewBag.acerogh) {
    <tr>
        <td>
    @item.id_acerogh
</td>
        <td>
            @item.Acabado
        </td>
        <td>
            @item.Calidad
        </td>
        <td>
            @item.Cantidad
        </td>
        <td>
            @item.Medidas
        </td>
        <td>
            @item.Perfil
        </td>
        <td>
            @item.Tipo
        </td>
        
        <td>
            @Html.ActionLink("Editar", "Edit", new { id_acerogh = item.id_acerogh }) |
            @Html.ActionLink("Eliminar", "Delete", new { id_acerogh = item.id_acerogh })
        </td>
    </tr>
}

</table>
