<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ProAutomation</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="background-color:#79212e" class="navbar navbar-inverse navbar-fixed-top">
        <div navbar-collapse collapse class="container">
            <div navbar-collapse collapse class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ProMaterialManagement", "Logout", "Sesion", new { area = "" }, new { @class = "navbar-brand" })


            </div>
            @if (Session["usuario"] == null)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                </div>
            }
            else
            {

                if (Session["usuario"].Equals("normal"))
                {

                    <div id="header">
                        <nav>
                            <ul class="nav">
                                <li><a href="">Inicio</a></li>
                                <li>
                                    <a href="">Materiales</a>
                                    <ul>
                                        <li>@Html.ActionLink("Aceros Grado Maquinaria", "ListM", "AceroGMaquinaria")</li>
                                        <li>@Html.ActionLink("Aceros Grado Herramienta", "ListM", "AceroGHerramienta")</li>
                                        <li>@Html.ActionLink("Metales", "ListM", "Metales")</li>
                                        <li>@Html.ActionLink("Acero Inoxidable", "ListM", "AceroInoxidable")</li>
                                    </ul>
                                </li>

                                <li>
                                <li>@Html.ActionLink("Logout", "Logout", "Sesion")</li>
                            </ul>
                        </nav>
                    </div>


                }
                else
                {
                    if (Session["usuario"].Equals("Admin"))
                    {

                        <div id="header">
                            <nav>
                                <ul class="nav">
                                    <li><a href="">Inicio</a></li>
                                    <li>
                                        <a href="">Materiales</a>
                                        <ul>
                                            <li>@Html.ActionLink("Aceros Grado Maquinaria", "Consultar", "AceroGMaquinaria")</li>
                                            <li>@Html.ActionLink("Aceros Grado Herramienta", "Consultar", "AceroGHerramienta")</li>
                                            <li>@Html.ActionLink("Metales", "Consultar", "Metales")</li>
                                            <li>@Html.ActionLink("Acero Inoxidable", "Consultar", "AceroInoxidable")</li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                                    <li>@Html.ActionLink("Logout", "Logout", "Sesion")</li>
                                </ul>
                            </nav>
                        </div>
                    }
                }

            }



        </div>
    </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - </p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
