@model IEnumerable<ClientePrueba.MaterialMetales.Metales>

@{
    ViewBag.Title = "Consultar";
}
<section>
    <div id="wrapperBanner">
        <div class="background">
            <div class="banner">
                <center><img src="~/fonts/LogoAuto_qwy3d1_c_scale,w_200.png" /></center>
            </div>
        </div>
    </div>
</section>
<center><h2>Lista de Materiales</h2></center>

<p>
    @Html.ActionLink("Agregar Material", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
    id_metal
</th>
        <th>
            Cantidad
        </th>
        <th>
            Estado
        </th>
        <th>
            MateriaPrima
        </th>
        <th>
            Mineral
        </th>
        <th>
            SemiFabricado
        </th>
        
        <th></th>
    </tr>

@foreach (var item in ViewBag.metales) {
    <tr>  
        <td>
    @item.id_metal
</td>
        <td>
            @item.Cantidad
        </td>
        <td>
            @item.Estado
        </td>
        <td>
            @item.MateriaPrima
        </td>
        <td>
            @item.Mineral
        </td>
        <td>
            @item.SemiFabricado
        </td>
        
        <td>
            @Html.ActionLink("Editar", "Edit", new { id_metal = item.id_metal }) |
           
            @Html.ActionLink("Eliminar", "Delete", new { id_metal = item.id_metal })
        </td>
    </tr>
}

</table>
