@model IEnumerable<ClientePrueba.MaterialAceroGM.AceroGMaquinaria>

@{
    ViewBag.Title = "Consultar";
}

<h2>Lista de Materiales</h2>

<p>
    @Html.ActionLink("Agregar Material", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
            id_acerogm
        </th>
        <th>
            Calidad
        </th>
        <th>
            Perfil
        </th>
        <th>
            Acabado
        </th>
        <th>
            Medidas
        </th>
        <th>
           Cantidad
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.acerogm) {
    <tr>
        <td>
            @item.id_acerogm
        </td>
        <td>
            @item.Calidad
        </td>
        <td>
            @item.Perfil
        </td>
        <td>
            @item.Acabado
        </td>
        <td>
            @item.Medidas
        </td>
        <th>
            @item.Cantidad
        </th>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id_acerogm = item.id_acerogm }) |
            @Html.ActionLink("Eliminar", "Delete", new { id_acerogm = item.id_acerogm })
        </td>
    </tr>
}

</table>
